In [45]:
import pandas as pd 

df = pd.read_excel("2022.10.29-30_Orders.xlsx")
df.head()

,id,service_area_id,order_no,trip_type,hail_type,wav,driver_username,driver_uuid,driver_shift_id,driver_phone,...,donation,platform_rate,driver_subsidy,driver_subsidy_id,coupon_amount,coupon_id,driver_points,is_hidden,points_subsidy_id,points_subsidy
0,280761,5915,20221030105413cnKVsH,2,1,f,NaN,NaN,NaN,NaN,...,0,NaN,0,NaN,0,NaN,0,NaN,NaN,0
1,280580,5915,202210300500109nObYm,2,1,f,NaN,NaN,NaN,NaN,...,0,NaN,0,NaN,0,NaN,0,NaN,NaN,0
2,280581,5917,20221030042430nFwmr4,2,1,f,vic2018,5d3a990e-223a-418b-96a4-9956693d4e9e,db6a0d1f-bd67-44c5-a3f5-115a3e6827a0,2.506343e+09,...,0,0.80,1000,722.0,0,NaN,1,NaN,NaN,0
3,280582,5917,20221030045536AteV9o,2,2,f,NaN,NaN,NaN,NaN,...,0,NaN,0,NaN,0,NaN,0,NaN,NaN,0
4,280583,5915,20221030045022YM2U1R,2,2,f,van2526,4ef1bd62-d87b-434c-8590-9f4f1bf79161,ab75189e-d2c1-41c9-b009-2032e00d6d47,1.236331e+10,...,0,0.85,200,719.0,0,NaN,1,NaN,NaN,0

In [46]:
def filter_driver(driver_username : str, df):
    return df[df['driver_username'] == driver_username]

def filter_order(order_status : int, df):
    return df[df['order_status'] == order_status]


COMPLETED_ORDER = ""
# Define drivers as unique driver user name
drivers = ['vic2018', 'van2526']
drivers = drivers[~pd.isnull(drivers)]
drivers = drivers.tolist()
messages = []


# write a for loop here such that:
    # use filter_driver and filter_order functions
    # get these dfs' shapes
    # calculate finish and unfinshed orders
    # temp = "您已完成{}单 还有{}单未完成".format(completed_count, incompleted_count)
    # append the message string to messages varailbe


# define a dictionary to put everything together
df_dict = {}


# export pd.df to csv
df_tocsv = pd.DataFrame(df_dict)
df_tocsv.to_csv('result.csv', index = False)